body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}

.signup-container {
    width: 400px;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.signup-container h2 {
    text-align: center;
    margin-bottom: 30px;
}

.signup-container input[type="text"],
.signup-container input[type="password"],
.signup-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.signup-container input[type="text"]:focus,
.signup-container input[type="password"]:focus,
.signup-container select:focus {
    border-color: #4caf50;
}

.signup-container button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signup-container button:hover {
    background-color: #45a049;
}

.signup-container .select-field {
    position: relative;
}

.signup-container .select-field select {
    appearance: none;
    -webkit-appearance: none;
    width: calc(100% - 30px);
    padding-right: 30px;
    cursor: pointer;
}

.signup-container .select-field::after {
    content: "\f078";
    font-family: 'Font Awesome 5 Free';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

.show {
    display: block;
    color:brown;
    font-size: 10px;
}

.hide {
    display: none;
}
